@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Raleway:400,500');
@import "toast-grid";
@import "normalize";
@import "variables";
@import "typography";
@import "base";

.container {
	margin: 100px auto;
	max-width: 800px;
}
.box {
	background: #e3e3e3;
	height: 30px;
	margin-bottom: 20px;

	&:hover {
		background-color: #17ce97;
	}
}
.tall {
	height: 100px;
}

.tinted {
	background-color: lightblue;
}

.tile {
	margin: 50px 0;
}